In [1]:
import numpy as np
import pandas as pd

In [4]:
df=pd.read_excel('41586_2021_3436_MOESM4_ESM.xlsx')

In [5]:
df

,Region,Time period,Glacier category - tw=tidewater (marine-terminating); ntw=non-tidewater (land-terminating); all=all glaciers,Mean elevation change rate (m yr-1),Mass change rate (Gt yr-1),Regional area observed at least once a year (%) (relevant only for yearly rates),Glacier area of RGI 6.0 (m²),Estimated time-varying RGI glacier area (m²),Longitude of region centroid,Latitude of region centroid
0,subreg,period,category,dhdt,dmdt,valid_obs_py,area,tarea,lon_reg,lat_reg
1,Alaska,2000-01-01_2020-01-01,tw,-0.79,-7.77,10.35,11649844000,11547804790.33,-152.75,60.22
2,Alaska,2000-01-01_2020-01-01,ntw,-0.93,-58.88,11.68,75075052000,74417481051.220001,-152.75,60.22
3,Alaska,2000-01-01_2001-01-01,all,-0.57,-43.86,0.22,86724896000,89990805882.850006,-152.75,60.22
4,Alaska,2001-01-01_2002-01-01,all,-0.56,-42.64,0.55,86724896000,89567071439.289993,-152.75,60.22
...,...,...,...,...,...,...,...,...,...,...
558,Global,2015-01-01_2016-01-01,all,-0.49,-281.8,0.82,705995929000,672732898429.540039,NaN,NaN
559,Global,2016-01-01_2017-01-01,all,-0.54,-308.42,0.84,705995929000,670455952199.900024,NaN,NaN
560,Global,2017-01-01_2018-01-01,all,-0.5,-285.05,0.84,705995929000,668178856001.119995,NaN,NaN
561,Global,2018-01-01_2019-01-01,all,-0.52,-294.77,0.69,705995929000,665901659802.349976,NaN,NaN
562,Global,2019-01-01_2020-01-01,all,-0.56,-318.47,0.7,705995929000,663624613572.709961,NaN,NaN

In [6]:
df2=df.drop(0)

In [7]:
df2['start_year']=df2['Time period'].map(lambda x:x.split('_')[0])
df2['end_year']=df2['Time period'].map(lambda x:x.split('_')[1])

In [8]:
local=df2[df2['Region']!='Global']
local=local[local['Glacier category - tw=tidewater (marine-terminating); ntw=non-tidewater (land-terminating); all=all glaciers']=='all']

In [9]:
global_=df2[df2['Region']=='Global']
global_=global_[global_['Glacier category - tw=tidewater (marine-terminating); ntw=non-tidewater (land-terminating); all=all glaciers']=='all']
global_=global_[global_['Time period']!='2000-01-01_2020-01-01']

In [10]:
global_

,Region,Time period,Glacier category - tw=tidewater (marine-terminating); ntw=non-tidewater (land-terminating); all=all glaciers,Mean elevation change rate (m yr-1),Mass change rate (Gt yr-1),Regional area observed at least once a year (%) (relevant only for yearly rates),Glacier area of RGI 6.0 (m²),Estimated time-varying RGI glacier area (m²),Longitude of region centroid,Latitude of region centroid,start_year,end_year
540,Global,2000-01-01_2001-01-01,all,-0.36,-214.96,0.33,705995929000,706889541627.199951,NaN,NaN,2000-01-01,2001-01-01
544,Global,2001-01-01_2002-01-01,all,-0.36,-216.35,0.68,705995929000,704612445397.560059,NaN,NaN,2001-01-01,2002-01-01
545,Global,2002-01-01_2003-01-01,all,-0.39,-231.69,0.68,705995929000,702335399198.790039,NaN,NaN,2002-01-01,2003-01-01
546,Global,2003-01-01_2004-01-01,all,-0.4,-235.48,0.73,705995929000,700058203000.01001,NaN,NaN,2003-01-01,2004-01-01
547,Global,2004-01-01_2005-01-01,all,-0.4,-235.51,0.72,705995929000,697781006770.380005,NaN,NaN,2004-01-01,2005-01-01
548,Global,2005-01-01_2006-01-01,all,-0.41,-244.08,0.67,705995929000,695504110541.150024,NaN,NaN,2005-01-01,2006-01-01
549,Global,2006-01-01_2007-01-01,all,-0.41,-243.61,0.66,705995929000,693227014342.369995,NaN,NaN,2006-01-01,2007-01-01
550,Global,2007-01-01_2008-01-01,all,-0.43,-254.61,0.58,705995929000,690949868143.189941,NaN,NaN,2007-01-01,2008-01-01
551,Global,2008-01-01_2009-01-01,all,-0.46,-268.4,0.46,705995929000,688672771913.550049,NaN,NaN,2008-01-01,2009-01-01
552,Global,2009-01-01_2010-01-01,all,-0.47,-274.65,0.61,705995929000,686395575684.319946,NaN,NaN,2009-01-01,2010-01-01
553,Global,2010-01-01_2011-01-01,all,-0.48,-280.46,0.57,705995929000,684118479485.550049,NaN,NaN,2010-01-01,2011-01-01
554,Global,2011-01-01_2012-01-01,all,-0.49,-286.4,0.45,705995929000,681841333286.359985,NaN,NaN,2011-01-01,2012-01-01
555,Global,2012-01-01_2013-01-01,all,-0.48,-278.73,0.71,705995929000,679564187056.72998,NaN,NaN,2012-01-01,2013-01-01
556,Global,2013-01-01_2014-01-01,all,-0.51,-292.95,0.76,705995929000,677287190857.949951,NaN,NaN,2013-01-01,2014-01-01
557,Global,2014-01-01_2015-01-01,all,-0.5,-285.15,0.8,705995929000,675010094659.170044,NaN,NaN,2014-01-01,2015-01-01
558,Global,2015-01-01_2016-01-01,all,-0.49,-281.8,0.82,705995929000,672732898429.540039,NaN,NaN,2015-01-01,2016-01-01
559,Global,2016-01-01_2017-01-01,all,-0.54,-308.42,0.84,705995929000,670455952199.900024,NaN,NaN,2016-01-01,2017-01-01
560,Global,2017-01-01_2018-01-01,all,-0.5,-285.05,0.84,705995929000,668178856001.119995,NaN,NaN,2017-01-01,2018-01-01
561,Global,2018-01-01_2019-01-01,all,-0.52,-294.77,0.69,705995929000,665901659802.349976,NaN,NaN,2018-01-01,2019-01-01
562,Global,2019-01-01_2020-01-01,all,-0.56,-318.47,0.7,705995929000,663624613572.709961,NaN,NaN,2019-01-01,2020-01-01

In [11]:
local

,Region,Time period,Glacier category - tw=tidewater (marine-terminating); ntw=non-tidewater (land-terminating); all=all glaciers,Mean elevation change rate (m yr-1),Mass change rate (Gt yr-1),Regional area observed at least once a year (%) (relevant only for yearly rates),Glacier area of RGI 6.0 (m²),Estimated time-varying RGI glacier area (m²),Longitude of region centroid,Latitude of region centroid,start_year,end_year
3,Alaska,2000-01-01_2001-01-01,all,-0.57,-43.86,0.22,86724896000,89990805882.850006,-152.75,60.22,2000-01-01,2001-01-01
4,Alaska,2001-01-01_2002-01-01,all,-0.56,-42.64,0.55,86724896000,89567071439.289993,-152.75,60.22,2001-01-01,2002-01-01
5,Alaska,2002-01-01_2003-01-01,all,-0.66,-49.79,0.49,86724896000,89143336995.720001,-152.75,60.22,2002-01-01,2003-01-01
6,Alaska,2003-01-01_2004-01-01,all,-0.72,-54.65,0.64,86724896000,88719559724.740005,-152.75,60.22,2003-01-01,2004-01-01
7,Alaska,2004-01-01_2005-01-01,all,-0.75,-56.47,0.6,86724896000,88295825281.169998,-152.75,60.22,2004-01-01,2005-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...
535,"Asia, North",2016-01-01_2017-01-01,all,-0.72,-1.44,0.84,2410051000,2353050000,102.61,60.79,2016-01-01,2017-01-01
536,"Asia, North",2017-01-01_2018-01-01,all,-0.68,-1.35,0.86,2410051000,2342700000,102.61,60.79,2017-01-01,2018-01-01
537,"Asia, North",2018-01-01_2019-01-01,all,-0.64,-1.27,0.71,2410051000,2332350000,102.61,60.79,2018-01-01,2019-01-01
538,"Asia, North",2019-01-01_2020-01-01,all,-0.73,-1.44,0.65,2410051000,2322000000,102.61,60.79,2019-01-01,2020-01-01
539,"Asia, North",2000-01-01_2020-01-01,all,-0.61,-1.26,13.13,2410051000,2420450000,102.61,60.79,2000-01-01,2020-01-01

In [12]:
#global_

In [13]:
glacier60=local[local['Latitude of region centroid']>=60].copy()

In [14]:
glacier60.describe()

,Region,Time period,Glacier category - tw=tidewater (marine-terminating); ntw=non-tidewater (land-terminating); all=all glaciers,Mean elevation change rate (m yr-1),Mass change rate (Gt yr-1),Regional area observed at least once a year (%) (relevant only for yearly rates),Glacier area of RGI 6.0 (m²),Estimated time-varying RGI glacier area (m²),Longitude of region centroid,Latitude of region centroid,start_year,end_year
count,273,273,273,273.00,273.00,273.00,273,2.730000e+02,273.00,273.00,273,273
unique,13,21,1,103.00,249.00,83.00,13,2.730000e+02,13.00,13.00,20,20
top,Alaska,2000-01-01_2001-01-01,all,-0.31,-12.54,0.71,86724896000,8.999081e+10,-152.75,60.22,2000-01-01,2020-01-01
freq,21,13,273,7.00,3.00,11.00,21,1.000000e+00,21.00,21.00,26,26

In [15]:
glacier60[glacier60['Time period']=='2000-01-01_2020-01-01'].sort_values('Mean elevation change rate (m yr-1)').head(20)

,Region,Time period,Glacier category - tw=tidewater (marine-terminating); ntw=non-tidewater (land-terminating); all=all glaciers,Mean elevation change rate (m yr-1),Mass change rate (Gt yr-1),Regional area observed at least once a year (%) (relevant only for yearly rates),Glacier area of RGI 6.0 (m²),Estimated time-varying RGI glacier area (m²),Longitude of region centroid,Latitude of region centroid,start_year,end_year
136,Iceland,2000-01-01_2020-01-01,all,-1.03,-9.36,17.31,11059700000,10661550000,-18,63,2000-01-01,2020-01-01
23,Alaska,2000-01-01_2020-01-01,all,-0.91,-66.65,11.5,86724896000,85965285841.550003,-152.75,60.22,2000-01-01,2020-01-01
451,"Greenland Periphery, West",2000-01-01_2020-01-01,all,-0.81,-10.63,14.98,16617891000,15391491287.08,-56.23,70.65,2000-01-01,2020-01-01
91,"Arctic Canada, South",2000-01-01_2020-01-01,all,-0.77,-26.5,13.41,40888228000,40579100000,-74.68,65.15,2000-01-01,2020-01-01
181,Scandinavia,2000-01-01_2020-01-01,all,-0.68,-1.67,13.71,2949103000,2885400000,19.5,66,2000-01-01,2020-01-01
360,Western Canada,2000-01-01_2020-01-01,all,-0.63,-7.36,13.08,13850033000,13728722669.9,-118.29,61.89,2000-01-01,2020-01-01
539,"Asia, North",2000-01-01_2020-01-01,all,-0.61,-1.26,13.13,2410051000,2420450000,102.61,60.79,2000-01-01,2020-01-01
114,"Greenland Periphery, East",2000-01-01_2020-01-01,all,-0.45,-13.01,16.88,36941619000,34215328946.93,-30.96,69.53,2000-01-01,2020-01-01
428,"Greenland Periphery, North",2000-01-01_2020-01-01,all,-0.42,-11.88,16.14,36157556000,33489129765.990002,-36.3,81.23,2000-01-01,2020-01-01
159,Svalbard and Jan Mayen,2000-01-01_2020-01-01,all,-0.37,-10.54,15.68,34187175000,33741350000,10.62,77.71,2000-01-01,2020-01-01
68,"Arctic Canada, North",2000-01-01_2020-01-01,all,-0.34,-30.56,16.28,105110642000,104316000000,-96.5,79.84,2000-01-01,2020-01-01
383,"Russian Arctic, West",2000-01-01_2020-01-01,all,-0.29,-8.45,14.2,34890426000,34666915083.629997,51.9,76.78,2000-01-01,2020-01-01
204,"Russian Arctic, East",2000-01-01_2020-01-01,all,-0.14,-1.96,14.75,16701174000,16594184916.370001,90.02,80,2000-01-01,2020-01-01

In [16]:
glacier60[glacier60['Time period']=='2000-01-01_2020-01-01'].sort_values('Mass change rate (Gt yr-1)').head(20)

,Region,Time period,Glacier category - tw=tidewater (marine-terminating); ntw=non-tidewater (land-terminating); all=all glaciers,Mean elevation change rate (m yr-1),Mass change rate (Gt yr-1),Regional area observed at least once a year (%) (relevant only for yearly rates),Glacier area of RGI 6.0 (m²),Estimated time-varying RGI glacier area (m²),Longitude of region centroid,Latitude of region centroid,start_year,end_year
23,Alaska,2000-01-01_2020-01-01,all,-0.91,-66.65,11.5,86724896000,85965285841.550003,-152.75,60.22,2000-01-01,2020-01-01
68,"Arctic Canada, North",2000-01-01_2020-01-01,all,-0.34,-30.56,16.28,105110642000,104316000000,-96.5,79.84,2000-01-01,2020-01-01
91,"Arctic Canada, South",2000-01-01_2020-01-01,all,-0.77,-26.5,13.41,40888228000,40579100000,-74.68,65.15,2000-01-01,2020-01-01
114,"Greenland Periphery, East",2000-01-01_2020-01-01,all,-0.45,-13.01,16.88,36941619000,34215328946.93,-30.96,69.53,2000-01-01,2020-01-01
428,"Greenland Periphery, North",2000-01-01_2020-01-01,all,-0.42,-11.88,16.14,36157556000,33489129765.990002,-36.3,81.23,2000-01-01,2020-01-01
451,"Greenland Periphery, West",2000-01-01_2020-01-01,all,-0.81,-10.63,14.98,16617891000,15391491287.08,-56.23,70.65,2000-01-01,2020-01-01
159,Svalbard and Jan Mayen,2000-01-01_2020-01-01,all,-0.37,-10.54,15.68,34187175000,33741350000,10.62,77.71,2000-01-01,2020-01-01
136,Iceland,2000-01-01_2020-01-01,all,-1.03,-9.36,17.31,11059700000,10661550000,-18,63,2000-01-01,2020-01-01
383,"Russian Arctic, West",2000-01-01_2020-01-01,all,-0.29,-8.45,14.2,34890426000,34666915083.629997,51.9,76.78,2000-01-01,2020-01-01
360,Western Canada,2000-01-01_2020-01-01,all,-0.63,-7.36,13.08,13850033000,13728722669.9,-118.29,61.89,2000-01-01,2020-01-01
204,"Russian Arctic, East",2000-01-01_2020-01-01,all,-0.14,-1.96,14.75,16701174000,16594184916.370001,90.02,80,2000-01-01,2020-01-01
181,Scandinavia,2000-01-01_2020-01-01,all,-0.68,-1.67,13.71,2949103000,2885400000,19.5,66,2000-01-01,2020-01-01
539,"Asia, North",2000-01-01_2020-01-01,all,-0.61,-1.26,13.13,2410051000,2420450000,102.61,60.79,2000-01-01,2020-01-01

In [17]:
glacier60['year']=glacier60['end_year'].str[:4]

In [18]:
glacier60

,Region,Time period,Glacier category - tw=tidewater (marine-terminating); ntw=non-tidewater (land-terminating); all=all glaciers,Mean elevation change rate (m yr-1),Mass change rate (Gt yr-1),Regional area observed at least once a year (%) (relevant only for yearly rates),Glacier area of RGI 6.0 (m²),Estimated time-varying RGI glacier area (m²),Longitude of region centroid,Latitude of region centroid,start_year,end_year,year
3,Alaska,2000-01-01_2001-01-01,all,-0.57,-43.86,0.22,86724896000,89990805882.850006,-152.75,60.22,2000-01-01,2001-01-01,2001
4,Alaska,2001-01-01_2002-01-01,all,-0.56,-42.64,0.55,86724896000,89567071439.289993,-152.75,60.22,2001-01-01,2002-01-01,2002
5,Alaska,2002-01-01_2003-01-01,all,-0.66,-49.79,0.49,86724896000,89143336995.720001,-152.75,60.22,2002-01-01,2003-01-01,2003
6,Alaska,2003-01-01_2004-01-01,all,-0.72,-54.65,0.64,86724896000,88719559724.740005,-152.75,60.22,2003-01-01,2004-01-01,2004
7,Alaska,2004-01-01_2005-01-01,all,-0.75,-56.47,0.6,86724896000,88295825281.169998,-152.75,60.22,2004-01-01,2005-01-01,2005
...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,"Asia, North",2016-01-01_2017-01-01,all,-0.72,-1.44,0.84,2410051000,2353050000,102.61,60.79,2016-01-01,2017-01-01,2017
536,"Asia, North",2017-01-01_2018-01-01,all,-0.68,-1.35,0.86,2410051000,2342700000,102.61,60.79,2017-01-01,2018-01-01,2018
537,"Asia, North",2018-01-01_2019-01-01,all,-0.64,-1.27,0.71,2410051000,2332350000,102.61,60.79,2018-01-01,2019-01-01,2019
538,"Asia, North",2019-01-01_2020-01-01,all,-0.73,-1.44,0.65,2410051000,2322000000,102.61,60.79,2019-01-01,2020-01-01,2020
539,"Asia, North",2000-01-01_2020-01-01,all,-0.61,-1.26,13.13,2410051000,2420450000,102.61,60.79,2000-01-01,2020-01-01,2020

In [19]:
global_['year']=global_['end_year'].str[:4]

In [20]:
concated = pd.concat([glacier60,global_])

In [21]:
cleaned=concated[concated['Time period']!='2000-01-01_2020-01-01']

In [22]:
cleaned['Mean elevation change rate (m yr-1)']=cleaned['Mean elevation change rate (m yr-1)'].astype(float)
cleaned['Mass change rate (Gt yr-1)']=cleaned['Mass change rate (Gt yr-1)'].astype(float)

<ipython-input-22-abc88b5e95d6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned['Mean elevation change rate (m yr-1)']=cleaned['Mean elevation change rate (m yr-1)'].astype(float)
<ipython-input-22-abc88b5e95d6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned['Mass change rate (Gt yr-1)']=cleaned['Mass change rate (Gt yr-1)'].astype(float)

In [23]:
cleaned['elevation_change_rate']=cleaned['Mean elevation change rate (m yr-1)']
cleaned['mass_change_rate']=cleaned['Mass change rate (Gt yr-1)']

<ipython-input-23-08ce76789c8f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned['elevation_change_rate']=cleaned['Mean elevation change rate (m yr-1)']
<ipython-input-23-08ce76789c8f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned['mass_change_rate']=cleaned['Mass change rate (Gt yr-1)']

In [24]:
cleaned[cleaned['Region']=='Global']

,Region,Time period,Glacier category - tw=tidewater (marine-terminating); ntw=non-tidewater (land-terminating); all=all glaciers,Mean elevation change rate (m yr-1),Mass change rate (Gt yr-1),Regional area observed at least once a year (%) (relevant only for yearly rates),Glacier area of RGI 6.0 (m²),Estimated time-varying RGI glacier area (m²),Longitude of region centroid,Latitude of region centroid,start_year,end_year,year,elevation_change_rate,mass_change_rate
540,Global,2000-01-01_2001-01-01,all,-0.36,-214.96,0.33,705995929000,706889541627.199951,NaN,NaN,2000-01-01,2001-01-01,2001,-0.36,-214.96
544,Global,2001-01-01_2002-01-01,all,-0.36,-216.35,0.68,705995929000,704612445397.560059,NaN,NaN,2001-01-01,2002-01-01,2002,-0.36,-216.35
545,Global,2002-01-01_2003-01-01,all,-0.39,-231.69,0.68,705995929000,702335399198.790039,NaN,NaN,2002-01-01,2003-01-01,2003,-0.39,-231.69
546,Global,2003-01-01_2004-01-01,all,-0.40,-235.48,0.73,705995929000,700058203000.01001,NaN,NaN,2003-01-01,2004-01-01,2004,-0.40,-235.48
547,Global,2004-01-01_2005-01-01,all,-0.40,-235.51,0.72,705995929000,697781006770.380005,NaN,NaN,2004-01-01,2005-01-01,2005,-0.40,-235.51
548,Global,2005-01-01_2006-01-01,all,-0.41,-244.08,0.67,705995929000,695504110541.150024,NaN,NaN,2005-01-01,2006-01-01,2006,-0.41,-244.08
549,Global,2006-01-01_2007-01-01,all,-0.41,-243.61,0.66,705995929000,693227014342.369995,NaN,NaN,2006-01-01,2007-01-01,2007,-0.41,-243.61
550,Global,2007-01-01_2008-01-01,all,-0.43,-254.61,0.58,705995929000,690949868143.189941,NaN,NaN,2007-01-01,2008-01-01,2008,-0.43,-254.61
551,Global,2008-01-01_2009-01-01,all,-0.46,-268.40,0.46,705995929000,688672771913.550049,NaN,NaN,2008-01-01,2009-01-01,2009,-0.46,-268.40
552,Global,2009-01-01_2010-01-01,all,-0.47,-274.65,0.61,705995929000,686395575684.319946,NaN,NaN,2009-01-01,2010-01-01,2010,-0.47,-274.65
553,Global,2010-01-01_2011-01-01,all,-0.48,-280.46,0.57,705995929000,684118479485.550049,NaN,NaN,2010-01-01,2011-01-01,2011,-0.48,-280.46
554,Global,2011-01-01_2012-01-01,all,-0.49,-286.40,0.45,705995929000,681841333286.359985,NaN,NaN,2011-01-01,2012-01-01,2012,-0.49,-286.40
555,Global,2012-01-01_2013-01-01,all,-0.48,-278.73,0.71,705995929000,679564187056.72998,NaN,NaN,2012-01-01,2013-01-01,2013,-0.48,-278.73
556,Global,2013-01-01_2014-01-01,all,-0.51,-292.95,0.76,705995929000,677287190857.949951,NaN,NaN,2013-01-01,2014-01-01,2014,-0.51,-292.95
557,Global,2014-01-01_2015-01-01,all,-0.50,-285.15,0.8,705995929000,675010094659.170044,NaN,NaN,2014-01-01,2015-01-01,2015,-0.50,-285.15
558,Global,2015-01-01_2016-01-01,all,-0.49,-281.80,0.82,705995929000,672732898429.540039,NaN,NaN,2015-01-01,2016-01-01,2016,-0.49,-281.80
559,Global,2016-01-01_2017-01-01,all,-0.54,-308.42,0.84,705995929000,670455952199.900024,NaN,NaN,2016-01-01,2017-01-01,2017,-0.54,-308.42
560,Global,2017-01-01_2018-01-01,all,-0.50,-285.05,0.84,705995929000,668178856001.119995,NaN,NaN,2017-01-01,2018-01-01,2018,-0.50,-285.05
561,Global,2018-01-01_2019-01-01,all,-0.52,-294.77,0.69,705995929000,665901659802.349976,NaN,NaN,2018-01-01,2019-01-01,2019,-0.52,-294.77
562,Global,2019-01-01_2020-01-01,all,-0.56,-318.47,0.7,705995929000,663624613572.709961,NaN,NaN,2019-01-01,2020-01-01,2020,-0.56,-318.47

In [25]:
cleaned['year']=cleaned['year'].astype(int)

<ipython-input-25-1163015cf958>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned['year']=cleaned['year'].astype(int)

In [26]:
cleaned.describe()

,Mean elevation change rate (m yr-1),Mass change rate (Gt yr-1),year,elevation_change_rate,mass_change_rate
count,280.000000,280.000000,280.000000,280.000000,280.000000
mean,-0.566536,-33.314714,2010.500000,-0.566536,-33.314714
std,0.293022,67.497614,5.776606,0.293022,67.497614
min,-1.530000,-318.470000,2001.000000,-1.530000,-318.470000
25%,-0.742500,-23.637500,2005.750000,-0.742500,-23.637500
50%,-0.520000,-10.775000,2010.500000,-0.520000,-10.775000
75%,-0.350000,-5.325000,2015.250000,-0.350000,-5.325000
max,0.010000,0.120000,2020.000000,0.010000,0.120000

In [27]:
cleaned

,Region,Time period,Glacier category - tw=tidewater (marine-terminating); ntw=non-tidewater (land-terminating); all=all glaciers,Mean elevation change rate (m yr-1),Mass change rate (Gt yr-1),Regional area observed at least once a year (%) (relevant only for yearly rates),Glacier area of RGI 6.0 (m²),Estimated time-varying RGI glacier area (m²),Longitude of region centroid,Latitude of region centroid,start_year,end_year,year,elevation_change_rate,mass_change_rate
3,Alaska,2000-01-01_2001-01-01,all,-0.57,-43.86,0.22,86724896000,89990805882.850006,-152.75,60.22,2000-01-01,2001-01-01,2001,-0.57,-43.86
4,Alaska,2001-01-01_2002-01-01,all,-0.56,-42.64,0.55,86724896000,89567071439.289993,-152.75,60.22,2001-01-01,2002-01-01,2002,-0.56,-42.64
5,Alaska,2002-01-01_2003-01-01,all,-0.66,-49.79,0.49,86724896000,89143336995.720001,-152.75,60.22,2002-01-01,2003-01-01,2003,-0.66,-49.79
6,Alaska,2003-01-01_2004-01-01,all,-0.72,-54.65,0.64,86724896000,88719559724.740005,-152.75,60.22,2003-01-01,2004-01-01,2004,-0.72,-54.65
7,Alaska,2004-01-01_2005-01-01,all,-0.75,-56.47,0.6,86724896000,88295825281.169998,-152.75,60.22,2004-01-01,2005-01-01,2005,-0.75,-56.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558,Global,2015-01-01_2016-01-01,all,-0.49,-281.80,0.82,705995929000,672732898429.540039,NaN,NaN,2015-01-01,2016-01-01,2016,-0.49,-281.80
559,Global,2016-01-01_2017-01-01,all,-0.54,-308.42,0.84,705995929000,670455952199.900024,NaN,NaN,2016-01-01,2017-01-01,2017,-0.54,-308.42
560,Global,2017-01-01_2018-01-01,all,-0.50,-285.05,0.84,705995929000,668178856001.119995,NaN,NaN,2017-01-01,2018-01-01,2018,-0.50,-285.05
561,Global,2018-01-01_2019-01-01,all,-0.52,-294.77,0.69,705995929000,665901659802.349976,NaN,NaN,2018-01-01,2019-01-01,2019,-0.52,-294.77
562,Global,2019-01-01_2020-01-01,all,-0.56,-318.47,0.7,705995929000,663624613572.709961,NaN,NaN,2019-01-01,2020-01-01,2020,-0.56,-318.47

In [68]:
cleaned2 = cleaned[cleaned['Region']!='Global'].copy()

In [69]:
cleaned2

,Region,Time period,Glacier category - tw=tidewater (marine-terminating); ntw=non-tidewater (land-terminating); all=all glaciers,Mean elevation change rate (m yr-1),Mass change rate (Gt yr-1),Regional area observed at least once a year (%) (relevant only for yearly rates),Glacier area of RGI 6.0 (m²),Estimated time-varying RGI glacier area (m²),Longitude of region centroid,Latitude of region centroid,start_year,end_year,year,elevation_change_rate,mass_change_rate
3,Alaska,2000-01-01_2001-01-01,all,-0.57,-43.86,0.22,86724896000,89990805882.850006,-152.75,60.22,2000-01-01,2001-01-01,2001,-0.57,-43.86
4,Alaska,2001-01-01_2002-01-01,all,-0.56,-42.64,0.55,86724896000,89567071439.289993,-152.75,60.22,2001-01-01,2002-01-01,2002,-0.56,-42.64
5,Alaska,2002-01-01_2003-01-01,all,-0.66,-49.79,0.49,86724896000,89143336995.720001,-152.75,60.22,2002-01-01,2003-01-01,2003,-0.66,-49.79
6,Alaska,2003-01-01_2004-01-01,all,-0.72,-54.65,0.64,86724896000,88719559724.740005,-152.75,60.22,2003-01-01,2004-01-01,2004,-0.72,-54.65
7,Alaska,2004-01-01_2005-01-01,all,-0.75,-56.47,0.6,86724896000,88295825281.169998,-152.75,60.22,2004-01-01,2005-01-01,2005,-0.75,-56.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534,"Asia, North",2015-01-01_2016-01-01,all,-0.73,-1.46,0.65,2410051000,2363400000,102.61,60.79,2015-01-01,2016-01-01,2016,-0.73,-1.46
535,"Asia, North",2016-01-01_2017-01-01,all,-0.72,-1.44,0.84,2410051000,2353050000,102.61,60.79,2016-01-01,2017-01-01,2017,-0.72,-1.44
536,"Asia, North",2017-01-01_2018-01-01,all,-0.68,-1.35,0.86,2410051000,2342700000,102.61,60.79,2017-01-01,2018-01-01,2018,-0.68,-1.35
537,"Asia, North",2018-01-01_2019-01-01,all,-0.64,-1.27,0.71,2410051000,2332350000,102.61,60.79,2018-01-01,2019-01-01,2019,-0.64,-1.27
538,"Asia, North",2019-01-01_2020-01-01,all,-0.73,-1.44,0.65,2410051000,2322000000,102.61,60.79,2019-01-01,2020-01-01,2020,-0.73,-1.44

In [70]:
Old_list = cleaned2['Region'].unique().tolist()

In [71]:
Old_list

['Alaska',
 'Arctic Canada, North',
 'Arctic Canada, South',
 'Greenland Periphery, East',
 'Iceland',
 'Svalbard and Jan Mayen',
 'Scandinavia',
 'Russian Arctic, East',
 'Western Canada',
 'Russian Arctic, West',
 'Greenland Periphery, North',
 'Greenland Periphery, West',
 'Asia, North']

In [72]:
New_list = ['Alaska', 'Arctic Canada, North', 'Arctic Canada, South',
       'Greenland Periphery', 'Iceland', 'Svalbard and Jan Mayen',
       'Scandinavia', 'Russian Arctic', 'Western Canada', 'Asia, North']

In [83]:
df_set = []
for region in New_list:
    loop = cleaned2[cleaned2['Region'].str.contains(region)]
    tempo = loop.groupby('year').agg({'Mean elevation change rate (m yr-1)':'mean'})
    if region == 'Western Canada':
        region = 'Western Canada and USA'
    tempo['Region'] = region
    df_set.append(tempo)
final = pd.concat(df_set,axis=0)

In [84]:
final['Region'].unique().tolist()

['Alaska',
 'Arctic Canada, North',
 'Arctic Canada, South',
 'Greenland Periphery',
 'Iceland',
 'Svalbard and Jan Mayen',
 'Scandinavia',
 'Russian Arctic',
 'Western Canada and USA',
 'Asia, North']

In [85]:
final.to_csv('glacier_height.csv')